<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      property="og:title"
      content="Kanalservis"
    />
    <meta name="author" content="Myriam" />
    <link rel="icon" href="{% static '/favicon.ico' %}" />
    <title>Заказы</title>
  </head>
<body>
<table>

</table>
<!--{% if supplies %}-->
<!--    <ul>-->
<!--    {% for supply in supplies %}-->
<!--        <li>{{ supply. }}</li>-->
<!--    {% endfor %}-->
<!--    </ul>-->
<!--{% else %}-->
<!--    <p>Нет доступных заказов</p>-->
<!--{% endif %}-->
</body>
</html>